/bobble/target/
/Student/nbproject/private/
/Student/build/
/Student/dist/
/LibrarySystemApp/nbproject/private/
/LibrarySystemApp/build/
/MyKad/nbproject/private/
/MyCards/nbproject/private/
/MyCards/build/
/ArtMuseum/nbproject/private/
/ArtMuseum/build/
/UCMS/nbproject/private/
/CB25156_SEC_01/nbproject/private/
/BursaryApp/nbproject/private/
/BursaryApp/build/
/BursaryApps/nbproject/private/
/BursaryApps/build/
/BursaryApps/dist/
/BranchSaleApp/nbproject/private/
/BranchSalesAppp/nbproject/private/
/BranchSalesAppp/build/
/BranchSalesAppp/dist/
/ResearchApp/nbproject/private/
/LibraryApp/nbproject/private/
/LibrarySysApp/nbproject/private/
/LibrarySysApp/build/
/BursarryApp/nbproject/private/
/BursarryApp/build/
/excer6/nbproject/private/
/excer6/build/
/Lab7CoffeSalesSystem/nbproject/private/
/Lab7CoffeSalesSystem/build/
/UCMS/build/
/UCMS/dist/
